<div class="row">

  <div class="col-md-4 col-lg-3">
    <div class="reservation-sidebar">
      <!-- Search Form -->
      <b7b-reservation [searchForm]="reservation" (search)="onSearch($event)"></b7b-reservation>
    </div>
  </div>

  <div class="col-md-8 col-lg-9">
    <!-- Calendar -->
    <b7b-calendar></b7b-calendar>
  </div>

</div>
