<div class="reservation-chosen-message bg-gray text-center">
  <h4>All Rooms are Selected</h4>
  <p>You have chosen all of your rooms would<br> you like to continue?</p>
  <a class="awe-btn awe-btn-6" (click)="goNextStep()">GO NEXT STEP</a>
</div>
