<div class="page-wrap">
  <div class="section-reservation-page">
    <div class="container">
      <div class="reservation-page">

        <div class="reservation_step">
          <b7b-wizard [steps]="steps">

            <!-- Booking  Steps -->
            <b7b-choose-date *ngIf="current == 0"></b7b-choose-date>

            <b7b-choose-room *ngIf="current == 1"></b7b-choose-room>

            <b7b-book-info *ngIf="current == 2"></b7b-book-info>

            <b7b-confirmation *ngIf="current == 3"></b7b-confirmation>

          </b7b-wizard>
        </div>

      </div>
    </div>
  </div>
</div>
