<div id="page-wrap">

  <section class="section-404">
    <div class="awe-overlay"></div>
    <div class="page-404 text-center">
      <h1>Lorem <span>404</span></h1>
      <h6>Lorem ipsum dolor sit amet.</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#">Lorem ipsum.</a></p>

      <p>Lorem ipsum dolor. <a href="/">Home</a> </p>
    </div>

  </section>

</div>
