<div class="row">

  <div class="col-md-4 col-lg-3">
    <div class="reservation-sidebar">
      <!-- Selected Rooms -->
      <b7b-reservation-room (action)="onRemove($event)" [selectedRooms]="selectedRooms" [reservation]="reservation"></b7b-reservation-room>
    </div>
  </div>

  <div class="col-md-8 col-lg-9">

    <div class="reservation_content">
      <div class="reservation-room">

        <div *ngIf="selectedRooms.length < reservation.get('rooms')['controls'].length; else alreadySelected">
          <!-- Room Options -->
          <b7b-room-option *ngFor="let room of rooms" [room]="room" (action)="onAdd($event)"></b7b-room-option>
        </div>

        <!-- All Rooms Selected -->
        <ng-template #alreadySelected>
          <b7b-reservation-already-selected (action)="goNextStep($event)"></b7b-reservation-already-selected>
        </ng-template>

      </div>
    </div>

  </div>

</div>
