.reservation-sidebar_availability {
  padding: 0 20px 20px 20px;
  margin-top: 30px;

  .reservation-heading {
    margin-left: -20px;
    margin-right: -20px;
  }

  .check_availability_title {
    margin-top: 20px;
    color: $main-color;
    font-size: 14px;
    text-transform: uppercase;
    font-family: $first-font;
    font-weight: bold;
  }

  .check_availability-field {
    margin-top: 15px;

    label {
      display: block;
      color: #232323;
      font-size: 12px;
      margin-bottom: 7px;
      font-family: $first-font;
      text-transform: uppercase;
    }
    .awe-calendar-wrapper {
      width: 100%;

      .awe-calendar {
        background-color: #fff;
        border-width: 0;
        height: 30px;
        line-height: 30px;
        color: #898989;
        font-weight: 500;
      }
    }
  }

  .check_availability_group {
    padding-left: 70px;
    position: relative;

    &:after {
      display: table;
      content: '';
      clear: both;
    }

    .label-group {
      position: absolute;
      left: 0;
      bottom: 5px;
      font-weight: bold;
      font-size: 12px;
      color: #232323;
      font-family: $first-font;
      text-transform: uppercase;
    }

    .check_availability-field_group {
      margin-left: -4px;
      margin-right: -4px;
    }

    .check_availability-field {
      width: 50%;
      padding-left: 4px;
      padding-right: 4px;
      float: left;
    }
  }

  .awe-btn {
    margin-top: 30px;
    width: 100%;
    font-size: 14px;
    padding: 10px;
  }
}
