.awe-btn {
  display: inline-block;
  background: none;
  font-family: $first-font;
  white-space: nowrap;
  text-transform: uppercase;
  cursor: pointer;
  line-height: normal;
  padding: 8px 10px;
  font-size: 12px;
  color: #000;
  min-width: 110px;
  border-width: 0;
  text-align: center;
  @include transition(all 0.3s ease)
}

.awe-btn.awe-btn-default {
  border: 1px solid #000;

  &:hover {
    border-color: $main-color;
    background-color: $main-color;
    color: #fff
  }
}

.awe-btn.awe-btn-6 {
  border: 2px solid $main-color;
  background-color: $main-color;
  color: #fff
}

.awe-btn.awe-btn-13 {
  border: 2px solid $main-color;
  background-color: $main-color;
  color: #fff;

  &:hover {
    border-color: $main-color;
    background-color: #fff;
    color: $main-color !important
  }
}

button:disabled {
  opacity: 0.5
}
