.reservation-chosen-message {
  background-color: #f1f1f1;
  text-align: center;
  padding: 30px 30px;

  h4 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
    color: #232323;
  }

  p {
    color: #898989;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .awe-btn {
    width: 150px;
    color: #fff !important;
    padding: 10px;
    margin-top: 30px;
  }
}
