.reservation-confirmation {
  margin-left: 80px;
  max-width: 570px;

  h4 {
    color: #000;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: $first-font;
    font-size: 30px;
  }

  h5 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-family: $first-font;
    font-size: 25px;
  }

  h6 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-family: $first-font;
    font-size: 20px;
  }

  a {
    color: $main-color;
    font-weight: bold;
    @include transition(all 0.3s ease);
  }

  .complete-info-book {
    .complete-label {
      color: #232323;
      font-size: 12px;
      text-transform: uppercase;
      font-family: $first-font;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .complete-info {
      float: right;
    }

    span {
      line-height: 40px;
    }
  }

  .complete-txt {
    margin-top: 40px;
    border-top: 1px solid #e4e4e4;
  }
}

@media screen and (max-width: 991px) {
  .reservation-confirmation {
    max-width: inherit;
    margin-left: 0;
  }
}
