.extra-info-sidebar {
  background-color: #f1f1f1;
  margin-top: 30px;

  h2.extra-info-heading {
    font-size: 16px;
    color: #333333;
    font-family: $first-font;
    text-transform: uppercase;
    padding: 12px 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
  }

  .extra-info-list {
    margin-bottom: 0;
    padding: 20px 20px;

    h3 {
      font-size: 12px;
      color: #333333;
      font-family: $first-font;
      text-transform: uppercase;
      padding: 12px 20px;
      font-weight: bold;
    }

    p {
      color: #333;
      font-size: 12px;
      overflow: hidden;
      font-weight: 500;
      padding: 5px 0;
    }
  }
}

