.help-sidebar {
  margin-top: 30px;

  h2.help-heading {
    font-size: 16px;
    color: #333333;
    font-family: $first-font;
    text-transform: uppercase;
    padding: 12px 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding: 20px 20px;
  }
}
