img {
  max-width: 100%;
  height: 250px;
  vertical-align: middle;
  border: 0;
}

.bg-gray {
  background-color: #f1f1f1;
}

.bg-blue {
  background-color: $main-color;
}

.reservation_content {
  padding-bottom: 20px;
  margin-top: 40px;
}

.reservation_content:before,
.reservation_content:after {
  content: '';
  display: table;
  clear: both;
}
