.reservation-room-selected {
  background-color: #f1f1f1;
  margin-top: 30px;

  .reservation-room-seleted_item {
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #e4e4e4;

    h6 {
      display: inline-block;
      vertical-align: middle;
      color: #232323;
      font-size: 14px;
      text-transform: uppercase;
      margin: 0 10px 0 0;
      line-height: 1.428em;
      font-family: $first-font;
      font-weight: bold;
    }

    .reservation-option {
      display: inline-block;
      font-size: 12px;
      font-weight: 500;
      font-family: $second-font;
    }

    .reservation-room-seleted_name {
      overflow: hidden;
      margin-top: 10px;

      h2 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        margin-right: 80px;
        float: left;
        margin: 0;

        a {
          color: $main-color;
        }
      }

      .reservation-amout {
        float: right;
        font-weight: bold;
        font-size: 14px;
        color: $main-color;
      }

      .reservation-mealplan {
        clear: both;
        font-size: 12px;
        margin-bottom: 0;
      }
    }

    .reservation-room-seleted_remove {
      color: #898989;
      font-size: 12px;
      font-style: italic;
      text-decoration: underline;
      display: inline-block;
      @include transition(all 0.3s ease)
    }

    .reservation-room-seleted_package {
      border-top: 1px solid #e4e4e4;
      margin-top: 15px;
      padding-top: 5px;
    }

    .reservation-room-seleted_package ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      padding-bottom: 2px;
      margin-top: 5px;

      li {
        color: #333;
        font-size: 13px;
        overflow: hidden;
        font-weight: 500;
        padding: 5px 0;

        span:last-child {
          float: right;
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      & + ul {
        border-top: 1px solid #e4e4e4;
        padding-top: 8px;
      }
    }

    .reservation-room-seleted_total-room {
      color: #333;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      border-top: 1px solid #e4e4e4;
      padding-top: 15px;
      padding-bottom: 10px;
      font-family: $first-font;

      .reservation-amout {
        float: right;
        color: $main-color;
      }
    }
  }

  .reservation-room-seleted_current {
    overflow: hidden;
    color: #fff;
    padding: 15px 20px 13px 20px;

    h6 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1.428em;
      position: relative;
      color: #fff;
    }

    span {
      font-size: 12px;
      font-weight: 500;
    }
  }

  .reservation-room-seleted_total {
    padding: 20px 20px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    font-family: $first-font;

    label {
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
    }

    .reservation-total {
      float: right;
      color: $main-color;
      font-size: 18px;
    }

    &.bg-blue {
      color: #fff;

      .reservation-total {
        color: #fff;
      }
    }
  }
}
