.reservation-room_item {
  margin-top: 45px;
  overflow: hidden;

  .reservation-room_name {
    color: #232323;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-size: 24px;

    a {
      color: #232323;
      @include transition(all 0.3s ease)
    }
  }

  .reservation-room_img {
    float: left;
    margin-right: 30px;
    width: 370px;
    margin-top: 25px;

    img {
      width: 100%;
    }
  }

  .reservation-room_text {
    overflow: hidden;
    margin-top: 25px;

    .reservation-room_desc {
      color: #333333;

      p {
        margin-bottom: 0;
        font-size: 14px;
      }

      ul {
        padding-left: 18px;
        margin-bottom: 0;
        margin-top: 15px;

        li {
          color: #232323;
          padding: 3px 0;
          font-size: 14px;
        }
      }

      ul.reservation-room_services {
        list-style: none;

        > li {
          display: inline-block;
          margin-right: 30px;
        }
      }
    }

    .reservation-room_view-more {
      display: inline-block;
      clear: both;
      margin-top: 10px;
      color: $main-color;
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 25px;
      text-decoration: underline;
      @include transition(all 0.3s ease)
    }

    .awe-btn {
      margin-left: 30px;
      min-width: 120px;
    }
  }

  .reservation-room_package {
    clear: both;
    margin-top: 30px;

    .reservation-room_package-more {
      display: block;
      color: #333333;
      font-size: 12px;
      font-weight: bold;
      font-family: $first-font;
      text-transform: uppercase;
      padding: 15px 30px;
      background-color: #f1f1f1;
      @include transition(all 0.3s ease)
    }

    .reservation-package_item {
      overflow: hidden;
      padding: 20px 30px;
      background-color: #fbfbfb;
      @include transition(all 0.3s ease)

      .reservation-package_text {
        overflow: hidden;
        padding-right: 130px;
        position: relative;
        min-height: 72px;

        h4 {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px;
          margin: 0;

          a {
            color: #232323;
            @include transition(all 0.3s ease)

            &:hover {
              color: $main-color;
            }
          }
        }

        p {
          color: #898989;
          font-size: 12px;
          margin-bottom: 0;
          margin-top: 10px;
        }

        .reservation-package_book-price {
          position: absolute;
          right: 0;
          top: 0;

          .reservation-package_price {
            color: #333333;
            text-align: right;

            .amout {
              font-weight: bold;
              font-size: 20px;
              line-height: 1;
              font-family: $first-font;
            }
          }

          .awe-btn {
            padding: 5px 10px;
            min-width: inherit;
            font-size: 10px;
            margin-top: 5px;
            font-family: $second-font;
            font-weight: 700;
          }
        }
      }
    }
  }
}

b7b-room-option:first-child .reservation-room_item {
  margin-top: 0;
}

@media screen and (max-width: 480px) {
  .reservation-room_item {
    .reservation-room_name {
      font-size: 22px;
    }

    .awe-btn {
      min-width: inherit !important;
      padding: 5px 10px;
    }

    .reservation-room_package .reservation-room_package-more {
      padding: 12px 15px;
    }

    .reservation-package_item {
      padding: 15px;
      border-bottom: 1px solid #f1f1f1;

      .reservation-package_text {
        padding-right: 0;

        .reservation-package_book-price {
          position: static;
          margin-top: 20px;

          .reservation-package_price {
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .reservation-room_item {
    .reservation-room_img {
      width: 100%;
      margin: 0;
      float: none;
      margin-top: 10px;
    }

    .reservation-room_text {
      width: 100%;
      margin-top: 20px;
      float: none;
    }
  }
}
