b7b-wizard > ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;

  & > li {
    display: inline-block;
    font-size: 15px;
    position: relative;
    margin: 0 20px;

    &:before {
      content: '';
      left: 0;
      right: 0;
      bottom: -1px;
      height: 2px;
      position: absolute;
      background-color: transparent;
      @include transition(all 0.3s ease)
    }

    & > a {
      color: #333;
      display: block;
      padding: 15px 0;

      span {
        font-weight: bold;
        font-size: 18px;
        margin-right: 5px;
      }
    }

    &.active:before,
    &:hover:before {
      background-color: $main-color;
    }
  }
}

@media screen and (max-width: 480px) {
  .reservation_step > ul li {
    width: 100%;
    margin: 0;
  }
}
