<div class="reservation-room-selected bg-gray">

  <h2 class="reservation-heading">Select Rooms</h2>

  <div class="reservation-room-seleted_item" *ngFor="let room of selectedRooms; let i = index">

    <h6>ROOM {{i + 1}}</h6> <span class="reservation-option">{{room.adult}} Adult, {{room.child}} Child</span>

    <div class="reservation-room-seleted_name">
      <h2><a>{{room.config.type}}</a></h2>
    </div>

    <div class="reservation-room-seleted_total-room">
      TOTAL Room {{i + 1}}
      <span class="reservation-amout">${{room.config.totalPrice}}</span>
    </div>

  </div>

  <div class="reservation-room-seleted_total bg-blue">
    <label>TOTAL</label>
    <span class="reservation-total">${{selectedRooms | totalPrice }}</span>
  </div>

</div>
