<div class="reservation-sidebar_availability bg-gray">

  <h2 class="reservation-heading">YOUR RESERVATION</h2>

  <h6 class="check_availability_title">your stay dates</h6>

  <form [formGroup]="searchForm">

    <div class="check_availability-field">
      <label>Arrive</label>
      <div class="awe-calendar-wrapper">
        <input type="text" class="awe-calendar awe-input from" formControlName="dateFrom" placeholder="YYYY/MM/DD"
               ngbDatepicker
               #start="ngbDatepicker" [minDate]="now" (click)="start.toggle(); end.close();" (close)="end.open()"
               (ngModelChange)="onChange($event, start, end)">
      </div>
    </div>

    <div class="check_availability-field">
      <label>Depature</label>
      <div class="awe-calendar-wrapper">
        <input type="text" class="awe-calendar awe-input to" [minDate]="endDate" formControlName="dateTo" placeholder="YYYY/MM/DD"
               ngbDatepicker #end="ngbDatepicker" (click)="end.toggle(); start.close()">
      </div>
    </div>

    <h6 class="check_availability_title">Rooms & Guest</h6>

    <div class="check_availability-field">
      <label>ROOMS</label>
      <select class="bootstrap-select awe-select" formControlName="room" (change)="checkRooms()">
        <option [value]="1">1</option>
        <option [value]="2">2</option>
        <option [value]="3">3</option>
      </select>
    </div>

    <div class="check_availability_group" formArrayName="rooms"
         *ngFor="let item of searchForm.get('rooms')['controls']; let i = index;">

      <span class="label-group">ROOM {{i + 1}}</span>

      <div class="check_availability-field_group" [formGroupName]="i">

        <div class="check_availability-field">
          <label>Adult</label>
          <select class="bootstrap-select awe-select" formControlName="adult">
            <option [value]="1">1</option>
            <option [value]="2">2</option>
            <option [value]="3">3</option>
          </select>
        </div>

        <div class="check_availability-field">
          <label>Child</label>
          <select class="bootstrap-select awe-select" formControlName="child">
            <option [value]="0">0</option>
            <option [value]="1">1</option>
            <option [value]="2">2</option>
          </select>
        </div>

      </div>

    </div>


    <button class="awe-btn awe-btn-13" (click)="checkAvailability()"
            [disabled]="searchForm.invalid || ((searchForm.get('dateFrom').value | ngbToDate) >= (searchForm.get('dateTo').value | ngbToDate))">
      CHECK AVAILABLE
    </button>
  </form>

</div>
